menu "GSL2036 touch panel options"

config ZX_TOUCH_PANEL_NAME
    string "gsl2036 name"
    default "gsl2036"
    depends on ZX_TOUCH_GSL2036

config ZX_TOUCH_PANEL_GSL2036_I2C_CHA
    string "gsl2036 using i2c channel index"
    default "i2c2"
    depends on ZX_TOUCH_GSL2036

config ZX_TOUCH_PANEL_GSL2036_RST_PIN
    string "gsl2036 reset pin"
    default "PA.10"
    depends on ZX_TOUCH_GSL2036

config ZX_TOUCH_PANEL_GSL2036_INT_PIN
    string "gsl2036 irq pin"
    default "PA.11"
    depends on ZX_TOUCH_GSL2036

config ZX_TOUCH_PANEL_GSL2036_X_RANGE
    int "gsl2036 x coordinate range"
    default 480
    depends on ZX_TOUCH_GSL2036

config ZX_TOUCH_PANEL_GSL2036_Y_RANGE
    int "gsl2036 y coordinate range"
    default 272
    depends on ZX_TOUCH_GSL2036

endmenu

