
menu "Display Panels"

    choice
        prompt "ZX Panel Drivers"
        default AIC_SIMPLE_PANEL

    config AIC_SIMPLE_PANEL
        bool "ZX simple panel"
        depends on AIC_DISP_RGB || AIC_DISP_LVDS

    config AIC_PANEL_DSI_XM91080
        bool "ZX MIPI DSI xm91080 panel"
        depends on AIC_DISP_MIPI_DSI

    config AIC_PANEL_DSI_GV9503
	bool "ZX MIPI DSI gv9503 panel"
	depends on AIC_DISP_MIPI_DSI

    config AIC_PANEL_DSI_FL7705N
        bool "ZX MIPI DSI fl7705n panel"
        depends on AIC_DISP_MIPI_DSI

    config AIC_PANEL_DSI_ICNL9707
        bool "ZX MIPI DSI icnl9707 panel"
        depends on AIC_DISP_MIPI_DSI

    config AIC_PANEL_DSI_JD9365DA
        bool "ZX MIPI DSI jd9365da panel"
        depends on AIC_DISP_MIPI_DSI

    config AIC_PANEL_DSI_EK79007AD
        bool "ZX MIPI DSI ek79007ad panel"
        depends on AIC_DISP_MIPI_DSI

    config AIC_PANEL_DBI_ST7789V
        bool "ZX MIPI DBI st7789v panel"
        depends on AIC_DISP_MIPI_DBI

    config AIC_PANEL_DBI_ILI9488
        bool "ZX MIPI DBI SPI ili9488 panel"
        depends on AIC_DISP_MIPI_DBI

    config AIC_PANEL_DBI_ILI9341
        bool "ZX MIPI DBI SPI ili9341 panel"
        depends on AIC_DISP_MIPI_DBI

    config AIC_PANEL_DBI_ST77903
        bool "ZX MIPI DBI SPI st77903 panel"
        depends on AIC_DISP_MIPI_DBI

    config AIC_PANEL_DBI_ILI9486L
        bool "ZX MIPI DBI ili9486l panel"
        depends on AIC_DISP_MIPI_DBI

    config AIC_PANEL_SRGB_HX8238
        bool "ZX srgb hx8238 panel"
        depends on AIC_DISP_RGB

    config AIC_PANEL_RGB_ST7701
        bool "ZX prgb st7701 panel"
        depends on AIC_DISP_RGB

    endchoice

if AIC_SIMPLE_PANEL && !AIC_DISP_PQ_TOOL
source "bsp/zx/drv/display/panel/Kconfig.timing"
endif

if AIC_PANEL_RGB_ST7701
source "bsp/zx/drv/display/panel/Kconfig.st7701"
endif


endmenu
