menu "touch panel options"

choice
    prompt "select touch panel"
    default ZX_TOUCH_NONE

config ZX_TOUCH_NONE
    bool "none touch"

config ZX_TOUCH_GT911
    bool "gt911 touch"
    select AIC_I2C_DRV

config ZX_TOUCH_ILITEK
    bool "ilitek touch"
    select AIC_I2C_DRV

config ZX_TOUCH_CST226SE
    bool "cst226se touch"
    select AIC_I2C_DRV

config ZX_TOUCH_CST3240
    bool "cst3240 touch"
    select AIC_I2C_DRV

config ZX_TOUCH_FT5X06
    bool "ft5x06 touch"
    select AIC_I2C_DRV

config ZX_TOUCH_FT7411
    bool "ft7411 touch"
    select AIC_I2C_DRV

config ZX_TOUCH_GSL1680
    bool "gsl1680 touch"
    select AIC_I2C_DRV

config ZX_TOUCH_GSL2036
    bool "gsl2036 touch"
    select AIC_I2C_DRV

endchoice

if ZX_TOUCH_GT911
source "bsp/peripheral/touch/gt911/Kconfig"
endif

if ZX_TOUCH_ILITEK
source "bsp/peripheral/touch/ilitek/Kconfig"
endif

if ZX_TOUCH_CST226SE
source "bsp/peripheral/touch/cst226se/Kconfig"
endif

if ZX_TOUCH_CST3240
    source "bsp/peripheral/touch/cst3240/Kconfig"
    endif

if ZX_TOUCH_FT5X06
source "bsp/peripheral/touch/ft5x06/Kconfig"
endif

if ZX_TOUCH_FT7411
source "bsp/peripheral/touch/ft7411/Kconfig"
endif

if ZX_TOUCH_GSL1680
source "bsp/peripheral/touch/gsl1680/Kconfig"
endif

if ZX_TOUCH_GSL2036
source "bsp/peripheral/touch/gsl2036/Kconfig"
endif

endmenu


